<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>News Portal</title>
		</head>
	<body>

		<h1>News</h1>

		<table>
			<tr>
				<th>Title</th>
				<th>Report</th>
				<th>Content</th>
			</tr>
			<% for(let i=0; i < news.length; i++) { %>
			<tr>
				<td><%= news[i].id_news %></td>
				<td><%= news[i].title %></td>
				<td><%= news[i].news %></td>
			</tr>
			<% } %>
		</table>

	</body>
</html>